<h1>Edit the job</h1>

<%= form_for @job do |f| %>

<%= f.label "Name: " %>
<%= f.text_field :name %>
<br>
<%= f.label "Description: " %>
<%= f.text_field :description %>
<br>
<%= f.label "Origin: " %>
<%= f.select(:origin,$locations) %>
<br>
<%= f.label "Destination: " %>
<%= f.select(:destination,$locations) %>
<br>
<%= f.label "Cost: " %>
<%= f.number_field :cost, in: 1000.00..100000.00, step: 1 %>
<br>
<%= f.label "Containers needed: " %>
<%= f.number_field :containers_needed, in: 1..10000, step: 1 %>
<br>
<%= f.submit %>
<% end %>
