<h1>New job</h1>
<br>
<form role="form" class="form-horizontal">
<div class="form-group">
  <div class="col-sm-offset-1 col-sm-12">
<%= form_for @job do |f| %>

<%= f.label "Name: " %>
<%= f.text_field :name %>
<br>
<%= f.label "Description: " %>
<%= f.text_field :description %>

<%= f.label "Origin: " %>
<%= f.select(:origin,$locations) %>

<%= f.label "Destination: " %>
<%= f.select(:destination,$locations) %>

<%= f.label "Cost: " %>
<%= f.number_field :cost, in: 1000.00..100000000000.00, step: 100 %>

<%= f.label "Containers needed: " %>
<%= f.number_field :containers_needed, in: 1..1000000, step: 1 %>
  </div>
</div>
<%= f.submit %>
<% end %>
